<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- bootstrap css -->
 <!-- main css -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <title>Node.js Chat App
  </title>
</head>

<body>
<div id="title">WebSocket Chat</div>
 <div id="form-container">
 <h1>Login</h1>
        <form method='post' action='/login'>
            <input type='email' name='email' placeholder='Email' required />
            <input type='password' name='password' placeholder='Password' require />
            <input type='submit' value='Submit' />
            </form>
        <div class='register-login-link'>
        <a href="/register"> < Register ></a>
        </div>
        </div>
 </body>
</html>