body{
    background-color: Black;
}

.nav{
    display: inline-block;
    color: #b4b4b4;
}

#chat-area{
    color: #00ccff;
    border: solid thin #00ccff;
    background-color: #191919;
    min-height: 80%;
    width: 75%;
}

.username{
    float: left;
    color: #00ccff;
    width: 10%;
}

#user-msg {
    color: #d9d9d9;
}

#messages{
    color: #f2f2f2;
}

#typing-area{
    position: fixed; bottom: 0;
    width:100%;
}

#type-message{
    width: 80%;
}
#sub-but{
    color: #00ccff;
    background-color: Black;
    border: thick solid gray;
}

#whos-online {
    color: #00ccff;
    border: solid thin #00ccff;
    background-color: #191919;
    width: 15%;
    float: right;
    margin: 2%;
}

li{
    color: white;
    list-style-type:none;
    border: thin solid Black;
    margin: 1%;
    padding: 1%;
    word-wrap: break-word;
    
}